/* Ensure the body has no extra margin or padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', sans-serif;
}

/* Header styling */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding */
    box-sizing: border-box;
}

.logo {
    max-width: 50px;
    margin-right: 10px;
}

h1 {
    font-size: 1em;
    margin: 0;
    color: #9e1b34;
}

.map-container {
    position: relative;
    width: 100%;
    
    overflow: hidden; /* Add this property to prevent scrolling */
}
.map-wrapper {
    width: 100%;
    padding-bottom: 150%; /* Adjust this value to match the image's aspect ratio */
    position: relative;
}

.map-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Add this */
    object-fit: contain;
}
/* Step logo images styling */
.step-logo {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
    width: 8vw; /* Adjust this value */
    height: 8vw; /* Adjust this value */
}

/* Specific positions for step logos */
.step1 {
    top: 34vw; /* Adjust this value */
    left: 43vw; /* Adjust this value */
}

.step2 {
    top: 73vw; /* Adjust this value */
    left: 5vw; /* Adjust this value */
}


.step3 {
    top: 98vw; /* Adjust this value */
    left: 42vw; /* Adjust this value */
}

.step4 {
    top: 98vw; /* Adjust this value */
    left: 52vw; /* Adjust this value */
}

.step5 {
    top: 88vw; /* Adjust this value */
    left: 47vw; /* Adjust this value */
}

.step6 {
    top: 60vw; /* Adjust this value */
    left: 90vw; /* Adjust this value */
}

.step7 {
    top: 68vw; /* Adjust this value */
    left: 90vw; /* Adjust this value */
}
/* Hover effect */
.step-logo:hover {
    transform: scale(1.7); /* Slightly enlarge the image on hover */
}

/* Active state for clicked image */
.step-logo.active {
    transform: scale(1.7); /* Enlarge the image when active */
}

/* Text container styling */
.text {
    text-align: left;
    padding: 15px;
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
    font-family: 'Inter', sans-serif;
}

.step-info {
    display: none; /* Hide all steps initially */
}

.step-info.active {
    display: block; /* Show only the active step */
}
