/* General Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

/* Map Container */
.map-container {
    position: relative;
    text-align: center;
    margin: 20px auto;
    max-width: 100%;
}

/* Map Image */
.map-image {
    width: 100%;
    height: auto;
}

/* Pin Styles */
.pin {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pin.active {
    transform: scale(1.2);
}

/* Location Info Box Styles */
/* Location Info Box Styles */
.location-info {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    position: relative; /* Necessary for animation positioning */
    overflow: hidden; /* Hide overflow during animation */
}

/* Keyframe animations */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Animation classes */
.location-info.enter {
    animation: slideInFromRight 0.5s forwards;
}

.location-info.leave {
    animation: slideOutToLeft 0.5s forwards;
}


.location-info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.location-info p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #666;
}

/* Media Queries */
@media (max-width: 600px) {
    .location-info {
        font-size: 14px;
    }
}
